<page-title [strTitle]="'Cart'"></page-title>
<div class="row">
    <!-- TODO espaços vazios do grid -->
    <div class="col-sm-3">

    </div>

    <div class="col-sm-6">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>qtd</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                     <td>{{product.name}}</td>
                     <td>{{product.qtd}}</td>
                    <td>${{product.value | number : '1.2-2'}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="remove(product.id)">remove</button></td>
                </tr> 
                <tr>
                    <td><b>TOTAL</b></td>
                    <td></td>
                    <td><b>${{total | number : '1.2-2'}}</b></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="col-sm-3">

    </div>
</div>