.color-box{
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: white;
}

.color-box-chosed{
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: black;
}

.color-space{
    padding: 10px;
}