<page-title [strTitle]="'Shop'"></page-title>

<div class="row">
  <div class="col-sm-2">
    <label for="cars"><b>Order by:</b></label>
    <select name="cars" id="cars" class="form-control"  #device (change)="orderBy(device.value)">
      <option value="name">Name</option>
      <option value="value">Price</option>
      <option value="ratting">Ratting</option>
    </select>
  </div>
</div>



<div class="row">
    <div *ngFor="let product of products" class="col-sm-4 product-space">
        <div class="product-square" [routerLink]="['/product-details',product.id]">
          <h2>{{product.name}}</h2>
          <ratting-view [ratting]="product.ratting"></ratting-view>
            <img src="assets/{{product.img}}" />
            <h3>${{product.value | number : '1.2-2'}}</h3>
          
        </div>
    </div>
</div>

  <ul class="pagination">
    <li class="page-item"><a class="page-link" >Previous</a></li>
    <li class="page-item"><a class="page-link" >1</a></li>
    <li class="page-item active"><a class="page-link" >2</a></li>
    <li class="page-item"><a class="page-link" >3</a></li>
    <li class="page-item"><a class="page-link" >Next</a></li>
  </ul>