.size-box{
    background-color: rgb(193, 219, 168);
    text-align: center;
    padding: 20px;
}

.size-box-chosed{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.size-space{
    padding: 10px;
}